################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0-windows
/.vs/TreeViewSample/FileContentIndex
/obj
/.vs/TreeViewSample/v17
/bin/Debug/net6.0-windows
/bin/Debug/net8.0-windows7.0
/.vs/CheckBoxTreeView/v17
